services:
  author:
    image: "aem-author:latest"
    container_name: aem-author
    build:
      context: ./author
    ports:
      - "4502:4502"
    volumes:
      - ./author/crx-quickstart:/opt/aem/crx-quickstart
      - ./logging/author-logs:/opt/aem/crx-quickstart/logs
    environment:
      AEM_RUNMODE: author,local
      ADMIN_PASSWORD: ${AEM_PASSWORD:-admin}
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:4502/crx/de/index.jsp" ]
      interval: 20s
      timeout: 10s
      retries: 10
    restart: unless-stopped
    networks:
      - aem-network

  publish:
    image: "aem-publish:latest"
    container_name: aem-publish
    build:
      context: ./publish
    ports:
      - "4503:4503"
    volumes:
      - ./publish/crx-quickstart:/opt/aem/crx-quickstart
      - ./logging/publish-logs:/opt/aem/crx-quickstart/logs
    environment:
      AEM_RUNMODE: publish,local
      ADMIN_PASSWORD: ${AEM_PASSWORD:-admin}
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:4503/crx/de/index.jsp" ]
      interval: 20s
      timeout: 10s
      retries: 10
    restart: unless-stopped
    networks:
      - aem-network

  dispatcher:
    image: adobe/aem-cs/dispatcher-publish:2.0.258
    container_name: aem-dispatcher
    ports:
      - "8080:80"
    volumes:
      - ./dispatcher/src/conf.d:/etc/httpd/conf.d
      - ./dispatcher/src/conf.dispatcher.d:/etc/httpd/conf.dispatcher.d
      - ./dispatcher/src/opt-in:/opt-in
      - dispatcher_cache:/mnt/var/www/html
    environment:
      AEM_HOST: publish
      AEM_PORT: 4503
    depends_on:
      - publish  # Just wait for it to start, don't check health
    restart: unless-stopped
    networks:
      - aem-network

volumes:
  dispatcher_cache:

networks:
  aem-network:
